.main_div{
    height: calc(100vh - 88px);
    /* width: 100vw; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #764ABC;
}
.inner_div{
    width: 40vw;
    background-color: white;
    padding: 1.6rem 5rem;
    border-radius: 1rem;
    box-shadow: 0 0.8rem 0.8rem -0.5rem rgba(0,0,0,0.4);
}

.question{
    font-size: 1.8rem;
    font-weight: 400;
    margin: 0.5rem 0 0.8rem 0;
}

.inner_div li{
    font-size: 1rem;
    margin-top: 0.5rem;
    list-style: none;
}

.inner_div input{
    cursor: pointer;
}
#result,#skip,#start_again{
    padding: 0.5rem 1.5rem;
    outline: none;
    font-size: 1rem;
    font-weight: 400;
    display: block;
    margin: auto;
    border: none;
    text-transform: uppercase;
    color: white;
    background-color: rgb(102, 102, 236);
    margin-top: 2rem;
    cursor: pointer;
    border-radius: 5px;
}
#submit:hover{
    background-color: teal;
}
.inner_adjecent_div{
    width: 40vw;
    background-color: white;
    padding: 1.6rem 5rem;
    border-radius: 1rem;
    box-shadow: 0 0.8rem 0.8rem -0.5rem rgba(0,0,0,0.4);
    display: none;
}
.completed{
    display: flex;
    justify-content: center;
}
.handle_icon{
    color: white;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
